# =========================
# Maven / Java
# =========================
/target/
*.class
*.jar
*.war
*.ear
*.log

# =========================
# Spring Boot / Config
# =========================
/*.log
# Si tenés algún archivo de credenciales local
.env

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
out/

# =========================
# Eclipse
# =========================
.settings/
bin/

# =========================
# MacOS
# =========================
.DS_Store

# =========================
# Otros
# =========================
*.swp
*.swo
